.header {
  border-bottom: 2px solid #000;
}
.header nav {
  align-items: center;
  display: flex;
  justify-content: flex-end;
  padding: 10px 25px;
}
.header nav a {
  display: inline-block;
  padding: 5px 15px;
}
